:root {
  --primary: #373A3D;
  --secondary: #F8FBFF;
  --tertiary: #BBBBBB;
  --accent: #50C9FF;
  font-size: 16px;
}

body {
  background: var(--primary);
}

h1, h2 {
  font-family: $Roboto;
  color: var(--secondary);
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3em;
}

h3 {
  font-family: $Niramit;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary);
}

p, span {
  font-family: $Niramit;
  color: var(--tertiary);
}

b {
  font-weight: 400;
  color: var(--secondary);
}

.contrast {
  color: var(--accent);
}